body{
    min-height: 100vh;
    align-items:center;
   justify-content: center;
    margin: 0;
    display: flex;
    flex-direction: column;
   
}
section{
    height: 55vh;
    width: calc(20% + 10px);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 6px 5px 6px rgb(77, 76, 76);
    background-color: rgba(0, 0, 0, 0.712);
}
h2{
    position: relative;
    left: -100px;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 25px;  
}
input{
    width: 97%;
    height: 40px;
    border: none;
    margin: 1px;
    margin-bottom: 15px;
    border-radius: 8px;
    padding-inline: 5px;
}
#button-div{
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   grid-template-rows: repeat(4,1fr);
   grid-gap: 7px;
  
   height: 85%;
   font-family: 20px;
}
 
button{
    height: 9vh;
    border-radius: 15px;
    border: none;
    cursor: pointer;
   
}
button:hover{
     background-color: rgba(0, 0, 0, 0.116);
     color: #fff;
     border: none;
     box-shadow: none;
}
button:active{
    background-color: #000;
    border: 1px solid rgba(245, 242, 242, 0.856);
}
a{
    text-decoration: none;
    border: 2px #fff solid;
}